<div class="backdrop" (click)="onCancel()">
    <div class="modal" (click)="$event.stopPropagation()">

    <!-- Header -->
    <div class="modal-header">
      <h2>{{ title }}</h2>
      <button class="close-btn" (click)="onCancel()" aria-label="Fechar modal">✕</button>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <p>{{ message }}</p>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button class="btn confirm" (click)="onConfirm()">Contratar</button>
    </div>

  </div>
</div>
