<h1>Lib ngx-echarts - Angular 17</h1>
<button class="text-button" (click)="printDashboard()">Print</button>
<div class="container__row">
  <app-admin-table></app-admin-table>
</div>
<div class="container__row">
  <div class="container__box">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="container__box">
    <app-horizontal-bar-chart></app-horizontal-bar-chart>
  </div>
</div>
<div class="container__row">
  <div class="container__box">
    <app-pie-chart></app-pie-chart>
  </div>
  <div class="container__box">
    <app-half-donut></app-half-donut>
  </div>
</div>

