:host {
  display: block;
  box-sizing: border-box;
}

/* Header */
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  background-color: aquamarine;

  h1 {
    color: #ff00aa;
  }

  .text-button {
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #1967d2;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: .875em;
    padding: 8px 16px;
  }
}

@media (max-width: 500px) {
  .container__header {
    flex-direction: column;
    align-items: flex-start;

    .text-button {
      margin-top: 8px;
      width: 100%;
    }
  }
}


/* Table */
.container__table {
  display: flex;
  width: 100%;
}

/* Dash */


.container__charts {
  display: flex;
  gap: 12px;
}

.container__box {
  flex: 1 1 calc(50% - 8px);  // Ocupa 50% menos o gap
  max-width: 50%;             // Trava o crescimento
  height: 400px;              // Defina uma altura fixa
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;           // Impede qualquer "vazamento" visual
  position: relative;         // Para posicionamento interno se necessário
}


/* Regras de Impressão A4 */
@media print {
  .text-button {
    display: none !important;
  }

  app-admin-table {
    display: block;
    overflow: visible !important;
  }

  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }

  th, td {
    white-space: nowrap; // impede quebra de texto
    font-size: 10px; // ajuste fino pra caber
    padding: 4px;
  }

  tr {
    page-break-inside: avoid; // evita cortar linha no meio
  }

  thead {
    display: table-header-group; // repete header em cada página
  }

  .container__charts{
    display: block !important; /* Para garantir que os boxes sejam tratados como blocos na impressão */
    page-break-inside: avoid; /* Evita que os boxes sejam divididos entre páginas */
  }

}

