@if (loading$ | async) {
  <div class="base-admin">Carregando clientes...</div>
} @else if (error$ | async) {
  <p>Erro aqui, verificar</p>
} @else {
    <app-header-table
    [description]="(headerDescription$ | async) ?? ''"
    [showViewAllButton]="(hasMoreCustomersToShow$ | async) ?? false"
    (filterChange)="onFilterChange($event)"
    (eventViewAll)="onViewAll()" />
    <div>
      <p>Exibindo x de y clientes.</p>
    </div>
    <br>
    <app-content-table [customers]="(customers$ | async) ?? []" />
}

<!-- MODAL -->
@if (showModal$ | async) {
  <app-modal-table
    (confirm)="onConfirmModal()"
    (cancel)="onCancelModal()">
  </app-modal-table>
}
