@if (loading) {
  <div class="base-admin">Carregando...</div>
}

@if (!loading) {

  @if (visibleCustomers.length === 0) {
    <div class="base-admin">Nenhum cliente encontrado.</div>
  }

  @if (visibleCustomers.length > 0) {
    <app-header-table (eventSeeAll)="onSeeAllCustormers()" [showButton]="canShowAllCustomers" />
    <div>
      <p>Exibindo {{ visibleCustomers.length }} de {{ allCustomers.length }} clientes.</p>
    </div>
    <br>
    <app-content-table [customers]="visibleCustomers" />
  }
}
