// Paleta de Azuis (Acessível)
$blue-dark:   #0d47a1; // Alto contraste no Branco (Ótimo para textos e botões)
$blue-medium: #1e88e5; // Cor de destaque intermediária
$blue-light:  #90caf9; // Alto contraste no Preto (Ótimo para textos em Dark Mode)

// Paleta de Pinks / Rosas (Acessível)
$pink-dark:   #880e4f; // Alto contraste no Branco (Sofisticado e legível)
$pink-medium: #d81b60; // Cor de destaque intermediária
$pink-light:  #f48fb1; // Alto contraste no Preto (Excelente visibilidade)

// Paleta de Verdes (Acessível)
$green-dark:  #1b5e20; // Alto contraste no Branco (Ótimo para mensagens de sucesso)
$green-medium:#43a047; // Cor de destaque intermediária
$green-light: #a5d6a7; // Alto contraste no Preto (Muito visível no escuro)

$gray-dark:   #212529; // Cinza quase preto. Perfeito para textos principais no Light Mode ou fundo no Dark Mode.
$gray-medium: #6c757d; // Cinza intermediário. Excelente para textos secundários (frases de apoio) e ícones.
$gray-light:  #f8f9fa; // Cinza bem claro. Ideal para fundos de cards, inputs e barras de ferramentas.

@media print {

  @page {
    size: A4 portrait;
    margin: 5mm;
  }

  .no-print {
    display: none !important;
  }

  body.print-dashboard {

    app-admin-table {

      .table-responsive-wrapper {
        overflow: visible !important;
        box-shadow: none !important;
      }

      .main-table {
        display: table !important;
        width: 100% !important;
        table-layout: auto !important;
      }

      thead {
        display: table-header-group !important;
      }

      tbody {
        display: table-row-group !important;
      }

      tr {
        display: table-row !important;
        page-break-inside: avoid;
      }

      th, td {
        display: table-cell !important;
        white-space: nowrap !important;
        font-size: 9px;
        padding: 4px;

        word-break: normal !important;
        overflow-wrap: normal !important;
        word-wrap: normal !important;
      }

      td::before {
        display: none !important;
        content: none !important;
      }

      .hide-print {
        display: none !important;
      }

      // Hide especific column (6th column)
      // Is dangerous because if the table structure changes, it may hide the wrong column. Use with caution.
      // th:nth-child(6),
      // td:nth-child(6) {
      //   display: none !important;
      // }

    }

  }
}
